/* .starback {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
} */
.starback canvas {
height: 100%;
position: absolute;
width: 100%;
}
.starback {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
 background-color: red;
  height: 80vh;
  width: 100%;
}


/* .heigh {
    color: red;
  height: auto;
    z-index: 5;
} */